/* CSS Document */

body{
	margin:0 0 0 0;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

body tr td{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.outerTab{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	width:100%;
	border:0px solid #999999;
}

.innerTab{
	width:100%;
	border:0px;
}

.innerTab tr th{
	background-image:url(../images/loginTopBg.gif);
}

.tableTop{
	background-image:url(../images/loginTopShade.gif);
	height:10px;
	background-repeat:repeat-x;
	background-position:top;
}

.tableMid{
	background-image:url(../images/loginBgbig.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:518px;
	vertical-align:middle;
	text-align:center;
}

.tableMidone{
	background-image:url(../images/loginBgbig.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:400px;
	vertical-align:middle;
	text-align:center;
}

.tableBtm{
	background-image:url(../images/loginBottomBg.gif);
	background-repeat:repeat-x;
	background-position:top;
	height:13px;
}

.loginTab{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	border:0px;
	width:50%;
}
.dvtLabel td{
	background-color:#f6f6f6;
	padding-left:5px;
	padding-right:5px;
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	color:#737373;
	height:25px;
	text-align:left;
	font-size:11px;
}

.dvtInfo td {
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	height:25px;
	text-align:left;
	font-size:11px; 
}

#scrollTab{
	position:relative;
	width:100%;
	height:350px;
	overflow:auto;
	border:0px solid #CCCCCC;
	display:block;
}

#scrollTab1{
	position:relative;
	width:100%;
	height:372px;
	overflow:auto;
	border:0px solid #CCCCCC;
	display:block;
}

#scrollTab2{
	position:relative;
	width:98%;
	height:175px;
	overflow:auto;
	border:0px solid #CCCCCC;
	display:block;
}

.hdr{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	color:#666666;
}
	

a.hdr,a.hdr:Hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:underline;
	color:#666666;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
 	background-color: #ADAAAD;
}
.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #aaaaaa;
	font-weight:bold;
}
.genHeaderBig{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	font-weight:bold;
}
.genHeaderSmall{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	font-weight:bold;
}

.moduleName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight:bold;
}

.rssDisplayPanel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #ABABAB;
}
.hdrNameBg {

	background:url(images/topBg.gif);
}

.hdrTabBg {
	background:#bbbbbb url(images/tabUnSelectedBg.gif) repeat-x ;
}

.tabSelected {
	background:#bbbbbb url(images/tabSelectedBg.gif) repeat-x;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;

}

.tabUnSelected {
	background:#bbbbbb url(images/tabUnSelectedBg.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;
}

.tabSeperator {
	background:#bbbbbb url(images/tabSeperatorBg.gif) repeat-x;


}

.level2text {
	background:#bbbbbb url(images/level2Bg.gif) repeat-x;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	color:white;
}

.level2text a{
	text-decoration:none;
	color:white;

}

.level2text a:hover {
	text-decoration:underline;
	color:white;

}



.level2Bg {
	background:#bbbbbb url(images/level2Bg.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

}

.tabLiner {
	background:#9abffc url(images/moduleSelectorBg.gif) bottom repeat-x;
	padding:0px;


}
.sep1 {
	background:#999999;
}


.showPanelBg {
	background:url(images/showPanelTopBg.gif) repeat-x;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
	color:#333366;

}

a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:underline;
	color:#333333;

}

.hdrLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:none;
	color:#333333;
	font-weight:bold;
}


.hdrLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:underline;
	color:#333333;
	font-weight:bold;
}


.searchBox {
	border: 0px solid #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:2px;
	width:100px;
	background-color:#ffffef;

}
.searchBtn {
	border : 1px #cccccc solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width:30px;
	height:19px;
	background-color:#cccccc;
}

.lvtBg {
	background-color:#cccccc;

}
.lvtHeaderText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
}
.lvtCol {
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color:#dadada;
	color:#666666;
	font-weight:bold;
}

.lvtColData {
	background-color:#fafafa;
}

.lvtColDataHover {
	background-color:#efefef;
}

.dvtSelectedCell {
	border-left:1px solid #cacaca;
	border-top:3px solid #999999;
	border-right:1px solid #cacaca;
	padding-left:20px;
	padding-right:20px;
	background-color:white;
	font-weight:bold;
}
.dvtUnSelectedCell {
	border-left:1px solid #cacaca;
	border-top:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	padding-left:20px;
	padding-right:20px;
	background-color:#efefef;
	cursor:pointer;
}
.dvtTabCache {
	border-bottom:1px solid #cacaca;
}

.dvtContentSpace {
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	padding-left:0px;
}
.rightAddInfo {
	border-left:1px solid #a2a2a2;
	border-right:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-top:1px solid #a2a2a2;
	background-color:#fafafa;
	padding:5px;
}
.dvtCellLabel{
	background-color:#f6f6f6;
	padding-right:10px;
	border-bottom:1px solid #eaeaea;
	color:#737373;
}

.dvtCellInfo{
	padding-left:10px;
	border-bottom:1px solid #eaeaea;
}

.rightMailMerge {
	border:1px solid #dddddd
}

.rightMailMergeHeader {
	border-bottom:1px solid #dddddd;
	padding:5px;
	font-size: 11px;
        line-height: 14px;
	background-color:#eaeaea;

}

.rightMailMergeContent {
	padding:5px;
	background-color:#fafafa;

}

.rightUpcomingActivitiesHeader{
	border-bottom:1px solid #ddddcc;
	padding:5px;
	background-color:#ffffdd;
}

.rightUpcomingActivitiesContent {
	padding:5px;
	background-color:#ffffef;
}

.detailedViewHeader{
	border-bottom:1px solid #999999;
	border-right:1px solid #CCCCCC;
	padding:5px; 
	background-color:#e5e5e5;
	text-align:left;
}

.detailedViewTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
/*	width:85%;               -- commented to fix, status not fully visible in search window*/
	background-color:#ffffff;
}
.detailedViewTextBoxOn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:85%;
	background-color:#ffffdd;
}
.detailedViewTextArea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:95%;
	height:100px;
	background-color:#ffffff;
	text-align:left;
}

.moduleSearch {
	border:1px solid #dddddd;
	background-color:#ffffef;

}
.searchHdrBox {

	border-bottom:1px dashed #dddddd;
}

.advSearch {
	padding:10px;
	border-left:1px solid #eaeaea; 
	border-right:1px solid #eaeaea; 
	border-bottom:1px solid #eaeaea; 	
	overflow:auto;
	width:600px;
	height:150px;
	background-color:#ffffef;

}
.searchAlph {
	border:1px solid #dadada;
	background-color:#ffffff;
	width:10px

}

.searchNotFound {
	border:2px solid #ff3333;
	background-color:#fafafa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	height:50px;
	width:640px;

}

.hiliteBtn4Search {
	border:1px solid #cccccc;
	background-color:#fafafa;
	line-height:37px;
	height:40px;
	padding:5px;
}

.loginTopBg {
	background:url(images/loginTopBg.gif) repeat-x;
}

.loginTopShade {
	background:url(images/loginTopShade.gif) repeat-x;
}

.loginBg{
	background:#448cEB url(images/loginBg.gif) repeat-x;
}

.textbox {
	border:1px solid #999999;
	background-color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width:120px;
	padding:2px;

}
.loginBottomBg {
	background:url(images/loginBottomBg.gif) repeat-x;
}
.loginSignin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #448ceb;
	font-weight:bold;
}

.loginBillBoard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#ffffff;
}

.mx {
}

.calTopBg {
	background:url(images/calBg.gif) repeat-x;
}

.calDisplay {
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
}
.calBottomBg {
	background:url(images/calBottomBg.gif) repeat-x;
}

.calDayHourCell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.calDayHour {
	border-top:2px solid #dadada;
}
.calDiv {
	overflow:auto; width:95%;height:320px;padding:0px;background-color:#fefefe;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;


}

.calHourOccupied {
	background-color:#ffffbb;

}

.calAddEvent {
	position:absolute;
	z-index:1000000;
	width:500px;

	left:200px;
	top:150px;
	border:2px solid #999999;
	background-color:#ffffff;
	padding:5px;
}

.addEventHeader{
	border-bottom:2px dotted #cccccc;
}

.addEventFooter{
	border-top:2px dotted #cccccc;
	height:40px;
}

.addEventInnerBox {
	border:1px dotted #dadada;

}

.cellScheduled {
	background-color:#ffffef;
	color:#7a7a7a;

}

.cellSchHover {
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #dadada;
	border-top:1px solid #dadada;
	background-color:#ffffef;	
	color:#7a7a7a;	
}
.cellSch{
	border:0px;
	background-color:#ffffef;
	color:#7a7a7a;
}


.cellNormalHover {
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #dadada;
	border-top:1px solid #dadada;
	background-color:#ffffff;	
	color:#7a7a7a;	
}

.cellNormal {
	border:0px;
	background-color:#ffffff;
}

.calEventNormal {
        border:1px solid #999999;
        background-color:#99ffcc;

}

.calEventCritical {
        border:1px solid #999999;
        background-color:#FFCC33;
}
.tblPro1 {

border:2px solid #dadada;
       background-color:white;


}
.tblPro1IconCell {
    border-right:1px solid #dadada;
}

.tblPro1HeadingCell {
    font-weight:bold;
color:#4a4a4a;
}

.tblPro1ColHeader {
    background-color:#dadada;
    border-left:1px solid white;
    border-right:1px solid #999999;
    font-size: 11px;
    line-height: 14px;
    background-image:url(images/tblPro1ColBg.gif);
}
.tblPro1DataCell {
    border-bottom:1px solid #f5f5f5;
    color:#5a5a5a;
    font-size: 11px;
    line-height: 14px;

}
.divEventToDo {
overflow:auto;
height:150px;
border:1px solid #dadada;

}
.EventToDo{

}

.addimage{
	text-align:left;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}

.toosmall{
	font-size:1px;
	height:15px;
	width:15px;
	line-height:1px;
	margin:0px;
}

.bggray{
	background-color: #dfdfdf;
}
.bgwhite{
	background-color: #FFFFFF;
}
.copy{
	font-size:9px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
}

#mnuTab{
	position:relative;
	overflow:auto;
	width:100%;
	display:block;
	left:0px;
	top:0px;
	padding:0px;
}

#mnuTab table tr td{
	padding:2px;
}

#mnuTab2{
	position:relative;
	overflow:auto;
	width:100%;
	display:none;
}

.style1 {color: #FF0000}
	
select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #CCCCCC;
}

.inputTxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #CCCCCC;
	width:90%;
}	

#tabSrch{
	display:none;
	width:700px;
	border:0px;
	position:absolute;
	left:135px;
	top:170px;
	background-image:url(../images/loginBg.gif);
	border:1px solid #CCCCCC;
}

.mainTab{
	width:100%;
	border-top:1px solid #CCCCCC;vertical-align:top;
	height:450px;
}

.mainTab tr td{border-right:1px solid #CCCCCC;vertical-align:top;}

.tabLftMnu{
	width:100%;
	border:0px;
	display:none;
}

.tabLftMnu tr td{
	padding-left:15px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-right:0px solid #000000;
}

.dummy tr td{
	padding-left:15px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-right:0px solid #000000;
}

.mnu{
	font-size:12px;
	text-decoration:underline;
	font-weight:bold;
	color:#666666;
	cursor:pointer;
}

a.faqQues {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#000066;
}

a.faqQues:Hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
	color:#000066;
}

.lnkHdr{
	font-family:Arial, Helvetica, Sans-serif;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	text-decoration:underline;
	vertical-align:bottom;
}

#faqDetail{
	position:absolute;
	width:250px;
	/*height:110px;
	overflow:hidden;*/
	border:1px solid #E5E5E5;
  	opacity: .9;
	background-color:#F5F5F5;
	left:685px;top:65px;
	padding:5px;
	visibility:hidden;
}

.fagView{
	width:100%;
	border:0px solid #000000;
}

.fagView tr td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	padding:4px;
	border-bottom:1px solid #F4F4F4;
} 

.lftMnu{
	width:100px;
}
.lftMnu tr td{
	padding-left:15px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
	border-right:0px solid #000000;
	white-space:wrap;
	text-align:left;
}

#ticket_status_combo{
	font-size:11px;
	font-weight:normal;
}

#only_mine_combo{
	font-size:11px;
	font-weight:normal;
}

#settings{
    position:absolute;
    display:block;
    width:400px;
    left:600px;
    top:50px;
    background-color:#FFFFFF;
    border:2px solid #CCCCCC;
}

.MySettingsHdr{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:underline;
	color:#666666;
	cursor:pointer;
}

.crmButton{
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	border-right:1px solid #555555;
	border-bottom:1px solid #555555;
}

.cancel {
 color:#fff;
 font-weight:bold;
}
