// common basic styles
.clearfix {
	clear: both;
}
.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    width:300px;
}
.fieldTypesList {
    min-width:28em;
}
.opacity .actions {
  opacity: 0.25;
  transition:opacity 250ms ease-out;
}
.opacity:hover .actions {
  opacity: 1;
  transition:opacity 250ms ease-out;
}
.fontBold {
  font-weight: bold !important;
}

.xIcon {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #ffffff;
    color:#bbb;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}