// common basic styles
.clearfix {
	clear: both;
}
.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    width:300px;
}
.fieldTypesList {
    min-width:28em;
}
.opacity .actions {
  opacity: 0.25;
  transition:opacity 250ms ease-out;
}
.opacity:hover .actions {
  opacity: 1;
  transition:opacity 250ms ease-out;
}
.fontBold {
  font-weight: bold !important;
}
.xIcon {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #ffffff;
    color:#bbb;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}
.dashboardHeading h2 {
  padding-bottom: 8px;
}
.dashboardHeading hr {
  border-bottom: 1px solid #dddddd;
}
.dashboardHeading .dropdown-menu {
  left: -70px;
  right: 0;
}
.dashboardContainer {
  padding: 0;
}
.dashboardContainer .dashboardHeading {
  padding: 10px 0 0;
  background: #f5f5f5;
}
.dashboardContainer .dashboardHeading h2 {
  padding: 0 0 8px 20px;
}
.dashboardContainer .dashboardHeading .btn-toolbar {
  padding: 3px 20px 0 0;
}
.dashboardContainer .dashboardHeading hr {
  border-bottom: 1px solid #dddddd;
}
.dashboardContainer .dashboardHeading .dropdown-menu {
  left: -82px;
}
.widgetsList {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.widgetsList li {
  display: block;
}
.widgetsList li a {
  white-space: normal;
  word-wrap: break-word;
}
.dashboard_notebookWidget_view .row-fluid {
  margin-bottom: 5px;
}
.gridster {
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}
.gridster ul {
  width: auto;
  display: block;
  box-sizing: border-box;
  word-wrap: break-word;
  min-height: 460px;
}
.gridster ul {
  list-style: none;
}
.dashboardWidget {
  background: #ffffff;
  border-radius: 1px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 0 3px -1px #dddddd;
  -moz-box-shadow: 0 0 3px -1px #dddddd;
  box-shadow: 0 0 3px -1px #dddddd;
}
.dashboardWidget .dashboardWidgetHeader {
  background-color: #f5f5f5;
  background-image: linear-gradient(to top, #f6f6f6, #f3f3f4);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #dddddd;
  color: #444444;
  cursor: move;
  padding: 5px;
}
.dashboardWidget .dashboardWidgetHeader table {
  height: 28px;
}
.dashboardWidget .dashboardWidgetHeader .dashboardTitle {
  text-align: left;
  padding-left: 10px;
  font-weight:bold;
}
.dashboardWidget .filterContainer {
  position: absolute;
  border: 1px solid #dddddd;
  background: #ffffff;
  margin-left: -7px;
  margin-right: 3px;
  margin-top: 4px;
  padding: 8px 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 8px -5px #888888;
}
.dashboardWidget .filterContainer div span {
  margin-top: 6px;
}
.dashboardWidget .filterContainer .span5 {
  margin-top: 3px;
}
.dashboardWidget .dashboardWidgetContent {
  padding: 10px 0;
  line-height: 20px;
}
.dashboardWidget .dashboardWidgetContent .dashboard_notebookWidget_viewarea { 
  height: 200px; 
}
.dashboardWidget .widgeticons {
  text-align:right;
}
.dashboardWidget .widgeticons a {
  cursor: pointer;
  opacity:0.2;
  text-decoration: none;
}
.dashboardWidget .widgeticons a:hover {
  opacity:0.6;
}
.widgetChartContainer {
  margin-left: 10px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../resources/fonts/OpenSans-Regular-webfont.eot');
  src: url('../../../../resources/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../../resources/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../../../../resources/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../../../../resources/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}
body {
  width: 100%;
  font-family: 'Open Sans', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif !important;
  font-size: 12px !important;
  background: #ffffff;
  color: #2b2b2b;
}
hr {
  margin: 8px 0;
  border-bottom: 1px solid #dddddd;
}