<?php
/*+***********************************************************************************
 * The contents of this file are subject to the vtiger CRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  vtiger CRM Open Source
 * The Initial Developer of the Original Code is vtiger.
 * Portions created by vtiger are Copyright (C) vtiger.
 * All Rights Reserved.
 *************************************************************************************/

 // this cron jobs performs a daily scan for data that must be deleted after the maximum allowed retention period
 // and - depending on mode - informs the admin OR deletes the data directly/moves it to the recycle bin
 
require_once 'vtlib/Vtiger/Cron.php';
require_once 'config.inc.php';
require_once 'includes/Loader.php';
require_once 'includes/runtime/BaseModel.php';
require_once 'includes/runtime/Globals.php';
require_once 'includes/runtime/LanguageHandler.php';
require_once 'modules/Vtiger/models/Module.php';
require_once 'modules/Settings/Vtiger/models/Record.php';
require_once 'modules/Settings/gdpr/models/Record.php';
require_once "modules/Emails/mail.php";

$current_user = Users::getActiveAdminUser();
$db = PearDatabase::getInstance();

$admin_email = $current_user->email1;

// get global settings
$settings = Settings_gdpr_Record_Model::getGlobalSettingsParameters();

$op_mode = $settings->get('op_mode'); // "m"anual or "a"utomatic deletion
$del_mode = (int) $settings->get('del_mode'); // 0 = move to recycle bin, 1 = delete immediately
$del_note_time_days = (int) $settings->get('del_note_time_days'); // time to prepone notification of pending deletions (in days)

$maximum_default_retention_days = 182; // defaults to 182 days, half a year, does it?

// date for notification about pending deletes
$notedate = date("Y-m-d",time() - $maximum_default_retention_days*86400 - $del_note_time_days*86400);

// date for automatic deletion
$deldate = date("Y-m-d",time() - $maximum_default_retention_days*86400);

$expirationnotedate = date("Y-m-d",time() - $del_note_time_days*86400);

$mailbody = "";
$trashed_entities = array();
$deleted_entities = array();
$deleted_fields_in_entities = array();

// echo $bold,"\n\n\nScanning for personal data in records created before $notedate\n\n",$normal;
    
// get per-module settings
$moduleSettings = Settings_gdpr_Record_Model::getModuleSettings();

// no record of $moduleid == module does not contain personal data, will be ignored

// deletion_mode == 0: no automatic deletion
// deletion_mode == 1: delete whole record
// deletion_mode == 2: only delete (or hash?) selected fields containing personal data

// fieldids = array of fieldsids that contain personal data for reports and automatic deletion/hashing

// iterate over modules
foreach ($moduleSettings as $tabId => $moduleSetting) {

    // get instance of module
    $modInst = Vtiger_Module_Model::getInstance($tabId);

    // fetch all fields of current module
    $modFields = $modInst->getFieldsById();
 
    $queryFields = array();
    $queryCols = array();
    
    // collect array of fields to query (from selection given or "all" if selection empty)
    $queryFields = array();
    if (empty($moduleSetting["fields"])) {
        // echo "{$reverse}all fields$normal ";
        foreach ($modFields as $field) {
            $queryFields[] = $field->name;
            $queryCols[] = $field->column;
        }
    }
    else {
        foreach ($moduleSetting["fields"] as $fieldId) {
            // echo "$reverse{$modFields[$fieldId]->name}$normal ";
            $queryFields[] = $modFields[$fieldId]->name;
            $queryCols[] = $modFields[$fieldId]->column;
        }
    }

    // find records to notify about
    $queryGenerator = new QueryGenerator($modInst->name, $current_user);
    $queryGenerator->setFields(array("id") + $queryFields);
    $queryGenerator->addCondition('createdtime',$notedate,'b');  // created before notification date
    $queryColumns = $queryGenerator->getSelectClauseColumnSQL();
    $queryFrom = $queryGenerator->getFromClause();
    $queryWhere = $queryGenerator->getWhereClause();
    
    // join vtiger_gdpr for Contacts and Leads module
    if ($modInst->name == "Contacts") {
        $queryColumns.=", vtiger_gdpr.expiration_date, vtiger_gdpr.permission_check";
        $queryFrom.=" LEFT JOIN vtiger_gdpr USING (contactid)";
        $queryWhere.= " AND (vtiger_gdpr.expiration_date < '$expirationnotedate' OR vtiger_gdpr.expiration_date IS NULL)";
    }
    if ($modInst->name == "Leads") {
        $queryColumns.=", vtiger_gdpr.expiration_date, vtiger_gdpr.permission_check";
        $queryFrom.=" LEFT JOIN vtiger_gdpr USING (leadid)";
        $queryWhere.= " AND (vtiger_gdpr.expiration_date < '$expirationnotedate' OR vtiger_gdpr.expiration_date IS NULL)";
    }
   
    $query = "SELECT $queryColumns $queryFrom $queryWhere";
    
    $res = $db->pquery($query);
    while ($row = $db->fetch_row($res,false)) {
        $recordId = $row[0];
        $mailbody.= "\n".$site_URL.$modInst->getDetailViewUrl($recordId);
    }

    // if automatic deletion is enabled find records to delete
    if ($op_mode == "a") {
        
        $queryGenerator = new QueryGenerator($modInst->name, $current_user);
        $queryGenerator->setFields(array("id") + $queryFields);   
        $queryGenerator->addCondition('createdtime',$deldate,'b');  // created before deletion date
        $queryColumns = $queryGenerator->getSelectClauseColumnSQL();
        $queryFrom = $queryGenerator->getFromClause();
        $queryWhere = $queryGenerator->getWhereClause();
        
        // join vtiger_gdpr for Contacts and Leads module
        if ($modInst->name == "Contacts") {
            $queryColumns.=", vtiger_gdpr.expiration_date, vtiger_gdpr.permission_check";
            $queryFrom.=" LEFT JOIN vtiger_gdpr USING (contactid)";
            $queryWhere.= " AND (vtiger_gdpr.expiration_date < '$expirationnotedate' OR vtiger_gdpr.expiration_date IS NULL)";
        }
        if ($modInst->name == "Leads") {
            $queryColumns.=", vtiger_gdpr.expiration_date, vtiger_gdpr.permission_check";
            $queryFrom.=" LEFT JOIN vtiger_gdpr USING (leadid)";
            $queryWhere.= " AND (vtiger_gdpr.expiration_date < '$expirationnotedate' OR vtiger_gdpr.expiration_date IS NULL)";
        }
   
        $query = "SELECT $queryColumns $queryFrom $queryWhere";
        
        $res = $db->pquery($query);
        while ($row = $db->fetch_row($res,false)) {
            $recordId = $row[0];

            // no fields selected: delete/trash whole record
            if (empty($moduleSetting["fields"])) { 
                if ($del_mode === 0) {
                    // move record to recycle bin
                    // $modInst->trash($modInst->name,$recordId);
                    echo "\nTrash $recordId";
                    $trashed_entities[]=$recordId;
                }
                else {
                    // delete record completely from all tables of current module
                    $entInst = CRMEntity::getInstance($modInst->name);
                    $tables = $entInst->tab_name;
                    $delquery = "DELETE ".implode(",",$tables)." $queryFrom WHERE crmid = ?";
                    // $db->pquery($delquery,$recordId);
                    echo "\nDelete $recordId";
                    $deleted_entities[]=$recordId;
                }
            }
            else {
                // test for null and delete given $fields of $record
                $testquery = "SELECT $queryColumns $queryFrom WHERE ";
                foreach ($queryCols as $column) {
                    $testquery .= "$column IS NOT NULL OR ";
                }
                $testquery = substr($testquery,0,-4);
                $res = $db->query($testquery);
                
                if ($res && $db->num_rows($res) > 0) {
                
                    echo "\nDelete fields: ",implode(",",$queryFields),") from $recordId";
                    $q = str_replace("FROM ","UPDATE ",$queryFrom)." SET ";
                    foreach ($queryCols as $column) {
                        $q .= "$column = NULL, ";
                    }
                    $q = substr($q,0,-2)." WHERE crmid = $recordId";
                    $db->query($q);
                    $deleted_fields_in_entities[] = $recordId;
                }
                
            }
        }
    }
}

// add automatically processed recordids to mail
if (count($trashed_entities)>0) {
    $mailbody .= getTranslatedString('LBL_CRON_AUTO_TRASHED_ENT','gdpr').implode(",",$trashed_entities);
}
if (count($deleted_entities)>0) {
    $mailbody .= getTranslatedString('LBL_CRON_AUTO_DELETED_ENT','gdpr').implode(",",$deleted_entities);
}
if (count($deleted_fields_in_entities)>0) {
    $mailbody .= getTranslatedString('LBL_CRON_AUTO_DELETED_FIELDS','gdpr').implode(",",$deleted_fields_in_entities);
}


if ($mailbody !="") {
    if ($op_mode == "a") {
        $mailcontent = getTranslatedString('LBL_CRON_MAIL_AUTO_HEADER','gdpr').$mailbody.getTranslatedString('LBL_CRON_MAIL_AUTO_FOOTER','gdpr');
    }
    if ($op_mode == "m") {
        $mailcontent = getTranslatedString('LBL_CRON_MAIL_HEADER','gdpr').$mailbody.getTranslatedString('LBL_CRON_MAIL_FOOTER','gdpr');
    }
    // send notification email
    $mail = new PHPMailer();
    $mail->Subject = getTranslatedString('LBL_CRON_MAIL_SUBJECT','gdpr');
    $mail->Body = $mailcontent;
    // $mail->addAddress($admin_email);
    $mail->addAddress("ben@crm-now.de");
    // $mail->addCC("ben@crm-now.de");
    $mail->IsSMTP();
    $mail->FromName = getTranslatedString('LBL_CRON_MAIL_FROMNAME','gdpr'); 
    $mail->From = trim(str_replace("https://","noreply@",$site_URL),"/");
    setMailServerProperties($mail);
    $mailres = $mail->Send();

    if ($mailres) echo "\nNotification email sent successfully"; else echo "\nError sending notification email: ",$mail->ErrorInfo;
}
echo "\nDone!\n";